h3 {
  margin: 40px 0 0;
}

.img-item {
  width: 220px;
}

#list-items {
  margin-top: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
li a {
  display: block;
}
a {
  color: #42b983;
}
.search-icon {
  color: #333;
  display: inline-block;
}
