* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  margin: 40px 0 0;
}

.img-item {
  width: 220px;
}

#list-items {
  margin-top: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-table;
  transition: 0.4s all ease;
  transition-delay: 0.1s;
  border-radius: 10%;
  background: #f2f2f2;
  margin: 5px;
}

li:hover {
  box-shadow: 5px 10px 18px #333;
  cursor: pointer;
  background: #42b983;
}

li:hover > a {
  color: #fff;
}

li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
}

a {
  color: #42b983;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  color: #42b983;
}

.search-icon {
  color: #333;
  text-decoration: none;
  padding: 3px;
  margin-left: 16px;
}

.logo {
  width: 137px;
  height: 50px;
  margin-right: 20px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png");
  background-size: cover;
}

.logo:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  cursor: pointer;
}
